@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: #f9e9ec;
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

footer {
  background: 
}

h1, h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.member-item {
  padding: 0.25em 0;
  flex: 1 1 33%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  grid-gap: 1px;
}

footer {
  margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #2978a0;
  padding: 0.25em 0;
}

.member-list {
  background-color: #f9e9ec;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(260px, 1fr));
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.quotation {
  text-align: center;
}

.sentence {
  font-style: italic;
}

.author {
  color: #DA1212;
}